.allpage {
	position: absolute;
	overflow: hidden;
	min-width: 1136px;
	min-height: 640px;
	top: 0;
	width: 100%;
	height: 100%;
}

.background-block {
	position: fixed;
	top: 0;
	width: 100%;
	height: 100%;
	background-image: url('background.png');
	background-size: auto 100%;
	background-position: center;
	background-repeat: no-repeat;
	color: #000;
	filter: blur(15px);
	-webkit-filter: blur(15px);
	z-index: -1;
}

.menu-block {
	margin-top: 26px;
	width: 100%;
	text-align: center;
}

.menu-block__wrapper {
	display: inline-block;
}

@-webkit-keyframes swing
{
	15%
	{
		-webkit-transform: translateX(5px);
		transform: translateX(5px);
	}
	30%
	{
		-webkit-transform: translateX(-5px);
		transform: translateX(-5px);
	}
	50%
	{
		-webkit-transform: translateX(3px);
		transform: translateX(3px);
	}
	65%
	{
		-webkit-transform: translateX(-3px);
		transform: translateX(-3px);
	}
	80%
	{
		-webkit-transform: translateX(2px);
		transform: translateX(2px);
	}
	100%
	{
		-webkit-transform: translateX(0);
		transform: translateX(0);
	}
}
@keyframes swing
{
	15%
	{
		-webkit-transform: translateX(5px);
		transform: translateX(5px);
	}
	30%
	{
		-webkit-transform: translateX(-5px);
		transform: translateX(-5px);
	}
	50%
	{
		-webkit-transform: translateX(3px);
		transform: translateX(3px);
	}
	65%
	{
		-webkit-transform: translateX(-3px);
		transform: translateX(-3px);
	}
	80%
	{
		-webkit-transform: translateX(2px);
		transform: translateX(2px);
	}
	100%
	{
		-webkit-transform: translateX(0);
		transform: translateX(0);
	}
}

.menu-item-block {
	width: 200px;
	height: 300px;
	margin: 3px;
	float: left;
	position: relative;
	color: #000;
	background-color: #fff;
	box-shadow: 3px 3px 19px -5px rgba(0,0,0,1);
	text-decoration: none;
	-webkit-transition: all 0.5s;
	-o-transition: all 0.5s;
	transition: all 0.5s;
}

.menu-item-block:hover {
	background-color: #D8D8D8;
	color: #990100;
}

.logo-block {
	display: block;
	position: relative;
	margin-bottom: 15px;
	height: 37%;
}


.logo-block__logo {
	position: absolute;
	width: 700px;
	height: 220px;
	font-size: 6em;
	margin-left: 50%;
	left: -350px;
	bottom: 25px;
	text-shadow: 6px 6px 10px rgba(150, 150, 150, 1);
	text-align: center;
	background-image: url('logo.png');
	background-size: auto 200px;
	background-position: center;
	background-repeat: no-repeat;
}

.menu-item-block__icon {
	position: absolute;
	width: 100%;
	height: 100%;
}

.menu-item-block__icon__mask {
	position: absolute;
	width: 100%;
	height: 100%;
	background-size: auto 140px;
	background-position: center 30px;
	background-repeat: no-repeat;
}

.menu-item-block__login__part0 {
	background-image: url('login_orig__pt0.png');
}

@keyframes login__part {
	to {
	 -webkit-transform: translateX(-7px);
	-ms-transform: translateX(-7px);
	-o-transform: translateX(-7px);
	transform: translateX(-7px);
	}
}

.menu-item-block__login__part1 {
	background-image: url('login_orig__pt1.png');
}

.menu-item-block__login__part1:hover {
	background-image: url('login_orig__pt2.png');
	-webkit-animation: login__part 0.45s infinite alternate cubic-bezier(0.45, 0.05, 0.55, 0.95);
	animation: login__part 0.45s infinite alternate cubic-bezier(0.45, 0.05, 0.55, 0.95);
}

.menu-item-block__register__part0 {
	background-image: url('register_orig__pt0.png');
}

@keyframes register__part {
	to {
		-webkit-transform: translate(5px, -5px);
		-ms-transform: translate(5px, -5px);
		-o-transform: translate(5px, -5px);
		transform: translate(5px, -5px);
	}
}

.menu-item-block__register__part1 {
	background-image: url('register_orig__pt1.png');
}

.menu-item-block__register__part1:hover {
	background-image: url('register_orig__pt2.png');
	-webkit-animation: register__part 0.45s infinite alternate cubic-bezier(0.45, 0.05, 0.55, 0.95);
	animation: register__part 0.45s infinite alternate cubic-bezier(0.45, 0.05, 0.55, 0.95);
}

.menu-item-block__scoreboard__part0 {
	background-image: url('scoreboard_orig__pt0.png');
}

@keyframes scoreboard__part {
	to {
		-webkit-transform: translateY(-7px);
		-ms-transform: translateY(-7px);
		-o-transform: translateY(-7px);
		transform: translateY(-7px);
	}
}

.menu-item-block__scoreboard__part1 {
	background-image: url('scoreboard_orig__pt1.png');
}

.menu-item-block__scoreboard__part1:hover {
	background-image: url('scoreboard_orig__pt2.png');
	-webkit-animation: scoreboard__part 0.45s infinite alternate cubic-bezier(0.45, 0.05, 0.55, 0.95);
	animation: scoreboard__part 0.45s infinite alternate cubic-bezier(0.45, 0.05, 0.55, 0.95);
}

.menu-item-block__about__part0 {
	background-image: url('about_orig__pt0.png');
}

@keyframes about__part {
	from {
		-webkit-transform: translateY(-4px);
		-ms-transform: translateY(-4px);
		-o-transform: translateY(-4px);
		transform: translateY(-4px);
	}
	to {
		-webkit-transform: translateY(4px);
		-ms-transform: translateY(4px);
		-o-transform: translateY(4px);
		transform: translateY(4px);
	}
}

.menu-item-block__about__part1 {
	background-image: url('about_orig__pt1.png');
}

.menu-item-block__about__part1:hover {
	background-image: url('about_orig__pt2.png');
	-webkit-animation: about__part 0.45s infinite alternate cubic-bezier(0.45, 0.05, 0.55, 0.95);
	animation: about__part 0.45s infinite alternate cubic-bezier(0.45, 0.05, 0.55, 0.95);
	-webkit-animation-delay: -0.225s;
	-o-animation-delay: -0.225s;
	animation-delay: -0.225s;
}

.menu-item-block__single__part0 {
	background-image: url('singleplayer_orig__pt0.png');
}

@keyframes single__part {
	to {
		-webkit-transform: translateY(-8px);
		-ms-transform: translateY(-8px);
		-o-transform: translateY(-8px);
		transform: translateY(-8px);
	}
}

.menu-item-block__single__part1 {
	background-image: url('singleplayer_orig__pt1.png');
}

.menu-item-block__single__part1:hover {
	background-image: url('singleplayer_orig__pt2.png');
	-webkit-animation: single__part 0.45s infinite alternate cubic-bezier(0.45, 0.05, 0.55, 0.95);
	animation: single__part 0.45s infinite alternate cubic-bezier(0.45, 0.05, 0.55, 0.95);
}

.menu-item-block__multi__part0 {
	background-image: url('multiplayer_orig__pt0.png');
}

@keyframes multi__part {
	to {
		-webkit-transform: translateY(-30px);
		-ms-transform: translateY(-30px);
		-o-transform: translateY(-30px);
		transform: translateY(-30px);
	}
}

.menu-item-block__multi__part1 {
	background-image: url('multiplayer_orig__pt1.png');
}

.menu-item-block__multi__part1:hover {
	background-image: url('multiplayer_orig__pt2.png');
	-webkit-animation: multi__part 0.95s infinite alternate cubic-bezier(0.45, 0.05, 0.55, 0.95);
	animation: multi__part 0.95s infinite alternate cubic-bezier(0.45, 0.05, 0.55, 0.95);
}

.menu-item-block__upgrade__part0 {
	background-image: url('upgrade_orig__pt0.png');
}

@keyframes upgrade__part {
	to {
		-webkit-transform: translateY(-22px);
		-ms-transform: translateY(-22px);
		-o-transform: translateY(-22px);
		transform: translateY(-22px);
	}
}

.menu-item-block__upgrade__part1 {
	background-image: url('upgrade_orig__pt1.png');
}

.menu-item-block__upgrade__part1:hover {
	background-image: url('upgrade_orig__pt2.png');
	-webkit-animation: upgrade__part 0.75s infinite alternate cubic-bezier(0.45, 0.05, 0.55, 0.95);
	animation: upgrade__part 0.75s infinite alternate cubic-bezier(0.45, 0.05, 0.55, 0.95);
}

@font-face {
	font-family: 'Wire One';
	src: local('Wire One'),
		 local('WireOne'),
		 url('WireOne.ttf') format('truetype');
	font-weight: 400;
	font-style: normal;
}

.menu-item-block__title {
	font-family: 'Wire One', arial, serif;
	font-size: 48px;
	font-weight: bold;
	text-transform: uppercase;
	padding-left: 10px;
	padding-right: 10px;
	margin-top: 190px;
	margin-bottom: 5px;
	width: 180px;
	text-shadow: 0px 1px 1px black;
}

@font-face {
	font-family: 'BravoRG';
	src: local('BravoRG'), 
		 url('bravorg.woff2') format('woff2'), 
		 url('bravorg.woff') format('woff'), 
		 url('bravorg.ttf') format('truetype');
	font-weight: 400;
	font-style: normal;
}

.menu-item-block__comment {
	font-family: 'BravoRG', arial, serif;
	font-size: 22px;
	font-style: oblique;
	padding-left: 10px;
	padding-right: 10px;
	width: 180px;
}



/*login form*/

.form-block {
	width: 700px;
	display: block;
}

.input-block {
	width: 700px;
	display: block;
	text-align: left;
	margin-top: 40px;
	margin-bottom: 20px;
}

.input-block__text-input {
	display: block;
	width: 100%;
	font-family: 'Wire One', arial, serif;
	font-size: 56px;
	vertical-align: text-bottom;
	vertical-align: bottom;
	padding-top: 20px;
	padding-bottom: 2px;
	padding-left: 15px;
	padding-right: 15px;
	background-color: #fff;
	border: none;
	transition: background-color 0.35s ease, border 0.35s ease;
	transition-delay: 0.1s;
	border-radius: 5px;
	-webkit-box-shadow: 5px 5px 50px -15px rgba(0,0,0,0.8);
	-moz-box-shadow: 5px 5px 50px -15px rgba(0,0,0,0.8);
	box-shadow: 5px 5px 50px -15px rgba(0,0,0,0.8);
}

.input-block__text-input:focus {
	border: none;
	outline: none;
	background-color: rgba(256, 256, 256, 0.4);
	transition: background-color 0.35s ease, box-shadow 0.15s ease;
	transition-delay: 0.1s;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
}

.input-block__text-input:valid:not(:focus) {
	border: none;
	outline: none;
	background-color: rgba(256, 256, 256, 0.4);
	border-radius: 0px;
	border-bottom: 3px solid #0EAD19;
	transition: border-bottom 0.35s ease;
	transition-delay: 1s;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
}

.input-block__text-input::-webkit-input-placeholder       {
	font-family: 'Wire One', arial, serif;
	color: #aaa; letter-spacing: 4px; opacity: 1; transition: opacity 0.3s ease;
}
.input-block__text-input::-moz-placeholder                {
	font-family: 'Wire One', arial, serif;
	color: #aaa; letter-spacing: 4px; opacity: 1; transition: opacity 0.3s ease;
}
.input-block__text-input:-moz-placeholder                 {
	font-family: 'Wire One', arial, serif;
	color: #aaa; letter-spacing: 4px; opacity: 1; transition: opacity 0.3s ease;
}
.input-block__text-input:-ms-input-placeholder            {
	font-family: 'Wire One', arial, serif;
	color: #aaa; letter-spacing: 4px; opacity: 1; transition: opacity 0.3s ease;
}
.input-block__text-input:focus::-webkit-input-placeholder {color: #aaa; letter-spacing: 4px; opacity: 0; transition: opacity 0.3s ease;}
.input-block__text-input:focus::-moz-placeholder          {color: #aaa; letter-spacing: 4px; opacity: 0; transition: opacity 0.3s ease;}
.input-block__text-input:focus:-moz-placeholder           {color: #aaa; letter-spacing: 4px; opacity: 0; transition: opacity 0.3s ease;}
.input-block__text-input:focus:-ms-input-placeholder      {color: #aaa; letter-spacing: 4px; opacity: 0; transition: opacity 0.3s ease;}


.input-block__label {
	font-family: Tahoma, Geneva, sans-serif;
	color: #555;
	font-weight: 100;
	text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.70);
}

.submit-button-block {
	display: inline-block;
	width: 280px;
	height: 60px;
	padding: 5px 15px;
	background: orange;
	margin: 0 auto;
	border: none;
	outline: none;
	cursor: pointer;
	border-radius: 5px;
	font-size: 56px;
	color: #000;
	font-weight: bold;
	font-family: 'Wire One', arial, serif;
	vertical-align: middle;
	text-align: center;
	-webkit-transform: translateZ(0);
	transform: translateZ(0);
	box-shadow: 0 0 1px rgba(0, 0, 0, 0);
	-moz-osx-font-smoothing: grayscale;
	position: relative;
	margin-bottom: 15px;
}

.submit-button-block::before {
	content: "";
	position: absolute;
	z-index: -1;
	left: 50%;
	right: 50%;
	bottom: 0;
	background: #990100;
	height: 4px;
	-webkit-transition-property: left, right;
	transition-property: left, right;
	-webkit-transition-duration: 0.3s;
	transition-duration: 0.3s;
	-webkit-transition-timing-function: ease-out;
	transition-timing-function: ease-out;	
}

.submit-button-block:hover::before, .submit-button-block:focus::before, .submit-button-block:active::before {
  left: 0;
  right: 0;
}

.submit-button-block:hover {
	box-shadow: 0 0 8px rgba(0, 0, 0, 0.6);
	-webkit-transition-property: box-shadow;
	transition-property: box-shadow;
}