* {
    padding: 0;
    margin: 0;
}

html, body {
    margin: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

canvas {
    position: absolute;
    top: 0;
    left: 0;
    /*width: 100%;
    height: 100%;*/
}

#canvas2d {
    z-index: 2;
}

#canvas3d {
    //visibility: hidden;
    z-index: 3;
}

@keyframes pulsate {
    100% {
        font-size: 180%;
    }
}

#capture {
    position: relative;
    z-index: 4;
    font: 400 32px oblique;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    color: azure;
    margin: 10% auto auto;
    animation: pulsate 1s ease-in-out alternate infinite;
}
