@charset "utf-8";
$bravo-font: 'BravoRG',  arial, serif;
$coremellow-font: 'Core Mellow',  arial, serif;
$hover-color: #2C17E7;
$gray-color: #AAAAAA;
$header-color: #FDCB03;
$link-color: #FDCB03;
$link-color2: #FDCB03;
