$wire-font: 'Wire One', arial, serif;
$bravo-font: 'BravoRG',  arial, serif;
$hover-color: #2C17E7;
$gray-color: #AAAAAA;
$header-color: #FDCB03;
$link-color: #FDCB03;
$name-color: #FFF69B;
$first-letter-color: #FDF249;
$strong-color: #FFF69B;
