@import 'reset';
@import 'config';

@font-face {
	font-family: 'BravoRG';
	src: local('BravoRG'),
	url('/res/bravorg.woff2') format('woff2'),
	url('/res/bravorg.woff') format('woff'),
	url('/res/bravorg.ttf') format('truetype');
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: 'Core Mellow';
	src: local('Core Mellow'),
	local('CoreMellow'),
	url('/res/coremellow-extralight.otf') format('opentype');
	font-weight: 100;
	font-style: normal;
}
