@import 'reset';
@import 'config';

@font-face {
	font-family: 'BravoRG';
	src: local('BravoRG'),
	url('/res/bravorg.woff2') format('woff2'),
	url('/res/bravorg.woff') format('woff'),
	url('/res/bravorg.ttf') format('truetype');
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: 'Wire One';
	src: local('Wire One'),
	local('WireOne'),
	url('/res/wireone.woff2') format('woff2'),
	url('/res/wireone.woff') format('woff'),
	url('/res/wireone.ttf') format('truetype');
	font-weight: 400;
	font-style: normal;
}

.allpage {
	position: absolute;
	overflow: hidden;
	min-width: 1100px;
	min-height: 600px;
	top: 0;
	width: 100%;
	height: 100%;
}

.background {
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0;
	background: url('/img/background.jpg') no-repeat center;
	background-size: cover;
	filter: blur(15px) brightness(0.55);
	z-index: -1;
}

.logo {
	display: block;
	position: relative;
	height: 35%;
	margin-bottom: 15px;

	&__image {
		position: absolute;
		width: 700px;
		height: 220px;
		margin-left: 50%;
		left: -350px;
		bottom: 25px;
		text-align: center;
		background: url('/img/logo.png') no-repeat center;
		background-size: 100%;
	}
}

.content {
	width: 100%;
	margin-top: 26px;
	text-align: center;

	&__wrapper {
		display: inline-block;
	}
}
