@import 'config';

.content {

	&__wrapper {

		&--about {
			position: relative;
			width: 1090px;
			height: 500px;
			margin-top: -30px;
			vertical-align: top;
			font-family: $bravo-font;
			font-size: 26px;
			font-style: normal;
			color: white;

			a {
				color: white;
				text-decoration: underline;

				&:hover {
					color: $link-color;
				}
			}
			strong {
				color: $header-color;
				font-weight: bold;
			}
			h2 {
				margin-top: 6px;
				margin-bottom: 7px;
				font-size: 130%;
			}
		}
	}
}

// this query for desktop-browsers and landscape iPads
@media screen and (min-width: 1024px) {
	.content {
		width: 100%;
		margin-top: 26px;
		text-align: center;

		&__wrapper {
			display: inline-block;
		}
	}
}

// this query for portrait iPads and mobile-browsers
@media screen and (max-width: 1023px) {
	.content {
		width: 100%;
		margin-top: 26px;
		text-align: center;

		&__wrapper {
			width: 96%;
			max-width: 700px;
			display: block;
			margin: 0 auto;
		}
	}
}
