@import 'config';

.gameStatus {
	font-family: $bravo-font;
	font-style: normal;
	text-align: center;
	pointer-events: none;
	position: absolute;
	z-index: 8;
	bottom: 65vh;
	color: white;
	width: 100%;

	&__help {

		&--normal {
			font-size: 124px;
		}

		&--small {
			font-size: 96px;
		}
	}

	&__main {

		&--normal {
			font-size: 152px;
		}

		&--small {
			font-size: 128px;
		}
	}

	&__exit {
		color: lightgrey !important;
		font-size: 74px;
	}
}

// this query for portrait iPads and mobile-browsers
@media screen and (max-width: 1023px) {
	.gameStatus {
		bottom: 65vh;

		&__help {

			&--normal {
				font-size: 82px;
			}

			&--small {
				font-size: 60px;
			}
		}

		&__main {

			&--normal {
				font-size: 128px;
			}

			&--small {
				font-size: 88px;
			}
		}

		&__exit {
			font-size: 56px;
		}
	}
}

// this query for portrait iPads and mobile-browsers
@media screen and (max-width: 550px) {
	.gameStatus {
		bottom: 60vh;

		&__help {

			&--normal {
				font-size: 50px;
			}

			&--small {
				font-size: 34px;
			}
		}

		&__main {

			&--normal {
				font-size: 108px;
			}

			&--small {
				font-size: 62px;
			}
		}

		&__exit {
			font-size: 38px;
		}
	}
}
