@import 'config';

.logo {
	display: block;
	position: relative;
	background: url('/img/logo.png') no-repeat center;
}

// this query for desktop-browsers and landscape iPads
@media screen and (min-width: 1024px) {
	.logo {
		height: 35%;
		margin-bottom: 15px;
	}
}

// this query for portrait iPads and mobile-browsers
@media screen and (max-width: 1023px) {
	.logo {
		height: 40%;
		min-height: 220px;
		margin: 10px auto;
		background-size: 75% auto;
	}
}

// this query for portrait iPads and mobile-browsers
@media screen and (max-width: 450px) {
	.logo {
		height: 40%;
		min-height: 145px;
		margin: 8px auto;
		background-size: 75% auto;
	}
}
