@import 'config';

.menu-item {
	position: relative;
	width: 200px;
	height: 300px;
	margin: 5px;
	float: left;
	color: #000000;
	text-decoration: none;
	background-color: rgba(255, 255, 255, 0.7);
	box-shadow: 3px 3px 19px -5px rgba(255, 255, 255, 1);
	transition: all 0.7s;
	border-radius: 5px;

	&:hover {
		background-color: rgba(235, 235, 235, 0.95);
		color: $hover-color;
		.menu-item__icon {
			background-size: auto 140px;
			transition: all 0.7s;
			&--login {
				transition: none;
				background-image: url("/img/loginh.svg");
			}

			&--register {
				transition: none;
				background-image: url("/img/registerh.svg");
			}

			&--game {
				transition: none;
				background-image: url("/img/gameh.svg");
				background-position-y: 45px;
				background-size: auto 110px;
			}

			&--scoreboard {
				transition: none;
				background-image: url("/img/scoreboardh.svg");
			}

			&--about {
				transition: none;
				background-image: url("/img/abouth.svg");
			}

			&--upgrade {
				transition: none;
				background-image: url("/img/upgradeh.svg");
			}
		}
	}

	&__title {
		width: 180px;
		padding-left: 10px;
		padding-right: 10px;
		margin-top: 175px;
		margin-bottom: 3px;
		font-family: $wire-font;
		font-size: 54px;
		font-weight: bold;
		text-transform: uppercase;
		text-shadow: 0px 1px 1px black;
	}

	&__comment {
		width: 180px;
		padding-left: 10px;
		padding-right: 10px;
		font-family: $bravo-font;
		font-size: 28px;
		font-style: normal;
	}

	&__help {
		display: none;

		&--login {
			background-image: url("/img/loginh.svg");
		}

		&--register {
			background-image: url("/img/registerh.svg");
		}

		&--game {
			background-image: url("/img/gameh.svg");
		}

		&--scoreboard {
			background-image: url("/img/scoreboardh.svg");
		}

		&--about {
			background-image: url("/img/abouth.svg");
		}

		&--upgrade {
			background-image: url("/img/upgradeh.svg");
		}
	}

	&__icon {
		position: absolute;
		width: 100%;
		height: 100%;
		background: no-repeat center 30px;
		background-size: auto 140px;
		transition: all 0.7s;
		&--login {
			transition: none;
			background-image: url("/img/login.svg");
		}

		&--register {
			transition: none;
			background-image: url("/img/register.svg");
		}

		&--game {
			transition: none;
			background-image: url("/img/game.svg");
			background-position-y: 45px;
			background-size: auto 110px;
		}

		&--scoreboard {
			transition: none;
			background-image: url("/img/scoreboard.svg");
		}

		&--about {
			transition: none;
			background-image: url("/img/about.svg");
		}

		&--upgrade {
			transition: none;
			background-image: url("/img/upgrade.svg");
		}
	}
}
