@import 'config';

.menu-item {
	position: relative;
	color: #000000;
	text-decoration: none;
	background-color: rgba(255, 255, 255, 0.7);
	box-shadow: 3px 3px 19px -5px rgba(255, 255, 255, 1);
	border-radius: 5px;
}

// this query for desktop-browsers and landscape iPads
@media screen and (min-width: 1024px) {
	.menu-item {
		width: 194px;
		height: 300px;
		margin: 5px;
		float: left;

		&:hover {
			background-color: rgba(235, 235, 235, 0.95);
			color: $hover-color;
			.menu-item__icon {
				background-size: auto 140px;
				transition: all 0.7s;
				&--login {
					transition: none;
					background-image: url("/img/loginh.svg");
				}

				&--register {
					transition: none;
					background-image: url("/img/registerh.svg");
				}

				&--game {
					transition: none;
					background-image: url("/img/gameh.svg");
					background-position-y: 45px;
					background-size: auto 110px;
				}

				&--scoreboard {
					transition: none;
					background-image: url("/img/scoreboardh.svg");
				}

				&--about {
					transition: none;
					background-image: url("/img/abouth.svg");
				}

				&--upgrade {
					transition: none;
					background-image: url("/img/upgradeh.svg");
				}
			}
		}

		&__title {
			width: 180px;
			padding-left: 10px;
			padding-right: 10px;
			margin-top: 175px;
			margin-bottom: 3px;
			font-family: $coremellow-font;
			font-size: 54px;
			font-weight: bold;
			text-transform: uppercase;
			text-shadow: 0 1px 1px black;
		}

		&__comment {
			width: 180px;
			padding-left: 10px;
			padding-right: 10px;
			font-family: $bravo-font;
			font-size: 28px;
			font-style: normal;
		}

		&__help {
			display: none;

			&--login {
				background-image: url("/img/loginh.svg");
			}

			&--register {
				background-image: url("/img/registerh.svg");
			}

			&--game {
				background-image: url("/img/gameh.svg");
			}

			&--scoreboard {
				background-image: url("/img/scoreboardh.svg");
			}

			&--about {
				background-image: url("/img/abouth.svg");
			}

			&--upgrade {
				background-image: url("/img/upgradeh.svg");
			}
		}

		&__icon {
			position: absolute;
			width: 100%;
			height: 100%;
			background: no-repeat center 30px;
			background-size: auto 140px;
			transition: all 0.7s;
			&--login {
				transition: none;
				background-image: url("/img/login.svg");
			}

			&--register {
				transition: none;
				background-image: url("/img/register.svg");
			}

			&--game {
				transition: none;
				background-image: url("/img/game.svg");
				background-position-y: 45px;
				background-size: auto 110px;
			}

			&--scoreboard {
				transition: none;
				background-image: url("/img/scoreboard.svg");
			}

			&--about {
				transition: none;
				background-image: url("/img/about.svg");
			}

			&--upgrade {
				transition: none;
				background-image: url("/img/upgrade.svg");
			}
		}
	}
}

// this query for portrait iPads and mobile-browsers
@media screen and (max-width: 1023px) {
	.menu-item {
		display: block;
		width: 100%;
		max-width: 550px;
		height: 120px;
		margin: 0 auto 10px;

		&:hover {
			background-color: rgba(235, 235, 235, 0.95);
			color: $hover-color;
		}

		&__title {
			display: block;
			float: left;
			width: calc(100% - 180px);
			margin-top: 30px;
			font-family: $coremellow-font;
			font-size: 60px;
			font-weight: bold;
			text-align: center;
			vertical-align: middle;
			text-transform: uppercase;
			text-shadow: 0 1px 1px black;
		}

		&__comment {
			display: none;
		}

		&__help {
			display: none;
		}

		&__icon {
			display: block;
			float: left;
			width: 160px;
			height: 120px;
			background: no-repeat center center;
			background-size: auto 100px;
			&--login {
				background-image: url("/img/login.svg");
			}

			&--register {
				background-image: url("/img/register.svg");
			}

			&--game {
				background-image: url("/img/game.svg");
				background-size: auto 75px;
			}

			&--scoreboard {
				background-image: url("/img/scoreboard.svg");
			}

			&--about {
				background-image: url("/img/about.svg");
			}

			&--upgrade {
				background-image: url("/img/upgrade.svg");
			}
		}
	}
}
