@import 'config';

.menu-item {
	position: relative;
	width: 200px;
	height: 300px;
	margin: 3px;
	float: left;
	color: #000000;
	text-decoration: none;
	background-color: rgba(255, 255, 255, 0.8);
	box-shadow: 3px 3px 19px -5px rgba(255, 255, 255, 1);
	transition: all 0.5s;

	&:hover {
		background-color: #E8E8E8;
		color: $hover-color;
	}

	&__title {
		width: 180px;
		padding-left: 10px;
		padding-right: 10px;
		margin-top: 190px;
		margin-bottom: 5px;
		font-family: $wire-font;
		font-size: 48px;
		font-weight: bold;
		text-transform: uppercase;
		text-shadow: 0px 1px 1px black;
	}

	&__comment {
		width: 180px;
		padding-left: 10px;
		padding-right: 10px;
		font-family: $bravo-font;
		font-size: 22px;
		font-style: normal;
	}
}

.menu-item__icon {
	position: absolute;
	width: 100%;
	height: 100%;

	&__mask {
		position: absolute;
		width: 100%;
		height: 100%;
		background-size: auto 140px;
		background-position: center 30px;
		background-repeat: no-repeat;
	}
}

.menu-item__login--part0 {
	background-image: url('/img/login_orig__pt0.png');
}

@keyframes login--part {
	to {
		transform: translateX(-7px);
	}
}

.menu-item__login--part1 {
	background-image: url('/img/login_orig__pt1.png');

	&:hover {
		background-image: url('/img/login_orig__pt2.png');
		animation: login--part 0.45s infinite alternate cubic-bezier(0.45, 0.05, 0.55, 0.95);
	}
}

.menu-item__register--part0 {
	background-image: url('/img/register_orig__pt0.png');
}

@keyframes register--part {
	to {
		transform: translate(5px, -5px);
	}
}

.menu-item__register--part1 {
	background-image: url('/img/register_orig__pt1.png');

	&:hover {
		background-image: url('/img/register_orig__pt2.png');
		animation: register--part 0.45s infinite alternate cubic-bezier(0.45, 0.05, 0.55, 0.95);
	}
}

.menu-item__scoreboard--part0 {
	background-image: url('/img/scoreboard_orig__pt0.png');
}

@keyframes scoreboard--part {
	to {
		transform: translateY(-7px);
	}
}

.menu-item__scoreboard--part1 {
	background-image: url('/img/scoreboard_orig__pt1.png');

	&:hover {
		background-image: url('/img/scoreboard_orig__pt2.png');
		animation: scoreboard--part 0.45s infinite alternate cubic-bezier(0.45, 0.05, 0.55, 0.95);
	}
}

.menu-item__about--part0 {
	background-image: url('/img/about_orig__pt0.png');
}

@keyframes about--part {
	from {
		transform: translateY(-4px);
	}
	to {
		transform: translateY(4px);
	}
}

.menu-item__about--part1 {
	background-image: url('/img/about_orig__pt1.png');

	&:hover {
		background-image: url('/img/about_orig__pt2.png');
		animation: about--part 0.45s infinite alternate cubic-bezier(0.45, 0.05, 0.55, 0.95);
		animation-delay: -0.225s;
	}
}

.menu-item__single--part0 {
	background-image: url('/img/singleplayer_orig__pt0.png');
}

@keyframes single--part {
	to {
		transform: translateY(-8px);
	}
}

.menu-item__single--part1 {
	background-image: url('/img/singleplayer_orig__pt1.png');

	&:hover {
		background-image: url('/img/singleplayer_orig__pt2.png');
		animation: single--part 0.45s infinite alternate cubic-bezier(0.45, 0.05, 0.55, 0.95);
	}
}

.menu-item__multi--part0 {
	background-image: url('/img/multiplayer_orig__pt0.png');
}

@keyframes multi--part {
	to {
		transform: translateY(-30px);
	}
}

.menu-item__multi--part1 {
	background-image: url('/img/multiplayer_orig__pt1.png');

	&:hover {
		background-image: url('/img/multiplayer_orig__pt2.png');
		animation: multi--part 0.95s infinite alternate cubic-bezier(0.45, 0.05, 0.55, 0.95);
	}
}

.menu-item__upgrade--part0 {
	background-image: url('/img/upgrade_orig__pt0.png');
}

@keyframes upgrade--part {
	to {
		transform: translateY(-22px);
	}
}

.menu-item__upgrade--part1 {
	background-image: url('/img/upgrade_orig__pt1.png');

	&:hover {
		background-image: url('/img/upgrade_orig__pt2.png');
		animation: upgrade--part 0.75s infinite alternate cubic-bezier(0.45, 0.05, 0.55, 0.95);
	}
}

.exit {
	display: block;
	position: fixed;
	top: 50px;
	right: 20px;
	height: 25px;
	font-size: 25px;
	font-family: $bravo-font;
	text-transform: uppercase;
	text-decoration: underline;
	cursor: pointer;
	text-align: right;
	color: lightgrey
}

.username {
	display: block;
	position: fixed;
	top: 20px;
	right: 20px;
	height: 25px;
	font-size: 27px;
	font-family: $bravo-font;
	text-align: right;
	color: $header-color;
}
