@import 'config';

.opname {
	font-family: $bravo-font;
	font-size: 52px;
	font-style: normal;
	text-align: center;
	pointer-events: none;
}

// this query for portrait iPads and mobile-browsers
@media screen and (max-width: 1023px) {
	.opname {
		font-size: 48px;
	}
}

// this query for portrait iPads and mobile-browsers
@media screen and (max-width: 450px) {
	.opname {
		font-size: 42px;
	}
}
