@import 'config';

.pause {
	position: absolute;
	top: 0;
	left: 0;
	width: 150px;
	text-align: left;
	padding: 10px 15px;
	z-index: 8;
	color: white;
	font-family: $bravo-font;
	font-size: 48px;
	font-style: normal;
	font-weight: bold;
	text-transform: capitalize;
	cursor: pointer;
	text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);

	&:hover {
		text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.5);
	}
}
