@import 'config';

.person {
	display: inline-block;
	margin-left: 29px;
	margin-right: 29px;
	margin-bottom: 15px;

	&__name {
		margin-top: -3px;
		margin-bottom: -8px;
		font-size: 120%;
		color: $header-color;
		text-transform: capitalize;
		letter-spacing: 0.1px;

		&:first-letter {
			font-size: 120%;
			text-transform: uppercase;
		}
	}

	&__city {
		display: inline;
		font-size: smaller;

		&::before {
			content: ' / ';
		}
	}

	&__page {
		color: white;
		font-size: smaller;
		display: inline;
	}
}
