@import 'config';

.record {
	position: relative;
	height: 30px;
	margin: 0 auto 5px;
	padding-top: 2px;
	vertical-align: middle;
	font-family: $bravo-font;
	font-size: 28px;
	font-style: normal;
	background-color: rgba(255, 255, 255, 0.55);
	transition: background-color 0.7s ease;
	text-transform: uppercase;

	&:hover {
		background-color: rgba(255, 255, 255, 0.9);
		transition: background-color 0.7s ease;
	}

	&__n {
		display: inline-block;
		width: 40px;
		float: left;
		text-align: right;
		padding-right: 5px;
	}

	&__score {
		display: inline-block;
		width: 60px;
		float: left;
		text-align: left;
		padding-left: 5px;
	}

	&__username {
		display: inline-block;
		width: 230px;
		float: left;
		text-align: left;
		padding-left: 10px;

		&--star::before {
			content: '\2605';
		}
	}
}
