@import 'config';

.rules {
	margin: 15vh auto 30px;
	text-align: justify;
	color: white;
	font-family: $bravo-font;
	display: none;
	font-style: normal;
}

// this query for desktop-browsers and landscape iPads
@media screen and (min-width: 1024px) {
	.rules {
		width: 50%;
		min-width: 750px;
		font-size: 52px;
	}
}

// this query for portrait iPads and mobile-browsers
@media screen and (max-width: 1023px) {
	.rules {
		width: 90%;
		min-width: 355px;
		font-size: 40px;
	}
}
