@import 'config';

.scores {
	position: absolute;
	z-index: 8;
	bottom: 65vh;
	color: white;
	font-family: $bravo-font;
	font-size: 116px;
	font-style: normal;
	width: 100%;
	text-align: center;
	pointer-events: none;
}
