@import 'config';

.scoreboard {

	&__title {
		display: block;
		margin-bottom: 15px;
		font-family: $wire-font;
		font-size: 64px;
		font-weight: bold;
		color: $header-color;
	}

	&__table {
		display: block;
		width: 351px;
	}
}
