@import 'config';

.content__wrapper--about {
	position: relative;
	width: 1090px;
	height: 500px;
	margin-top: -30px;
	vertical-align: top;
	font-family: $bravo-font;
	font-size: 26px;
	font-style: normal;
	color: white;

	a {
		color: white;
		text-decoration: underline;
	}
	a:hover {
		color: $link-color;
	}
	strong {
		color: $header-color;
		font-weight: bold;
	}
	h2 {
		margin-top: 6px;
		margin-bottom: 7px;
		font-size: 130%;
	}
}

.title {
	margin-bottom: 14px;
	font-family: $wire-font;
	font-size: 42px;
	font-weight: bold;
	text-align: center;
	text-shadow: 2px 2px 4px rgba(150, 150, 150, 1);
	color: $header-color;
}

.about {
	display: inline-block;
	width: 640px;
	height: 175px;
	padding-bottom: 25px;
	margin: 0 0 22px;
	float: left;
	text-align: justify;
}

.creators {
	display: inline-block;
	width: 430px;
	height: 200px;
	margin: 0 0 22px;
	float: right;
}

.mentor {
	width: 300px;
	float: left;
}

.spec {
	display: inline-block;
}

.copyright {
	display: block;
	margin-top: 30px;
	clear: both;
	float: right;
	font-size: 18px;
}

.person {
	display: inline-block;
	margin-left: 29px;
	margin-right: 29px;
	margin-bottom: 15px;

	&__name {
		margin-top: -3px;
		margin-bottom: -8px;
		font-size: 120%;
		color: $header-color;
		text-transform: capitalize;
		letter-spacing: 0.1px;

		&:first-letter {
			font-family: $wire-font;
			font-size: 120%;
			text-transform: uppercase;
			font-weight: bold;
		}
	}

	&__city {
		display: inline;
		font-size: smaller;

		&::before {
			content: ' / ';
		}
	}

	&__page {
		color: white;
		font-size: smaller;
		display: inline;
	}
}

.rectangle {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: #000000;
	color: #ffffff;
	font-family: $bravo-font;
	font-size: 72px;

	display: none;

	&__question {
		text-align: center;
		width:800px;
		margin: 150px auto;
	}

	&__answers {
		text-transform: uppercase;
		width:800px;
		margin: 150px auto;

		&--yes {
			text-align: center;
			float: left;
			width: 200px;
			margin: 0 100px;
		}

		&--no {
			text-align: center;
			float: left;
			width: 200px;
			margin: 0 100px;
		}
	}

	&__img {
		position: fixed;
		top: 50%;
		left: 50%;
		width: 0px;
		display: none;
	}
}
