@import 'config';

.content__wrapper--about {
	position: relative;
	width: 1090px;
	height: 500px;
	margin-top: -30px;
	vertical-align: top;
	font-family: $bravo-font;
	font-size: 26px;
	font-style: normal;
	color: white;

	a {
		color: white;
		text-decoration: underline;
	}
	a:hover {
		color: $link-color;
	}
	strong {
		color: $strong-color;
		font-weight: bold;
	}
	h2 {
		margin-top: 6px;
		margin-bottom: 7px;
		font-size: 130%;
	}
}

.title {
	margin-bottom: 14px;
	font-family: $wire-font;
	font-size: 42px;
	font-weight: bold;
	text-align: center;
	text-shadow: 2px 2px 4px rgba(150, 150, 150, 1);
	color: $header-color;
}

.about {
	display: inline-block;
	width: 640px;
	height: 175px;
	padding-bottom: 25px;
	margin: 0 0 22px;
	float: left;
	text-align: justify;
}

.creators {
	display: inline-block;
	width: 430px;
	height: 200px;
	margin: 0 0 22px;
	float: right;
}

.person {
	display: inline-block;
	margin-left: 29px;
	margin-right: 29px;
	margin-bottom: 15px;

	&__name {
		margin-top: -3px;
		margin-bottom: -10px;
		font-size: 120%;
		color: $name-color;
		text-transform: capitalize;
		letter-spacing: 0.1px;

		&:first-letter {
			font-family: $wire-font;
			font-size: 140%;
			text-transform: uppercase;
			font-weight: bold;
			color: $first-letter-color;
		}
	}

	&__city {
		display: inline;
		font-size: smaller;

		&::after {
			content: ' / ';
		}
	}

	&__page {
		color: white;
		font-size: smaller;
		display: inline;
	}
}

.mentor {
	width: 300px;
	float: left;
}

.attendance {
	text-align: left;
	float: right;
	width: 600px;
}

.attendance-data {
	margin-bottom: 7px;

	&__number {
		display: inline;
		font-size: 110%;
		font-weight: bold;
	}
}

.copyright {
	display: block;
	margin-top: 30px;
	clear: both;
	float: right;
	font-size: 18px;
}
